<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>

<body>
<header>
    <div class="bg-dark collapse show" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-9">
                    <h4 class="text-white">О проекте</h4>
                    <p class="text-muted">Сервис создан для поддержки типографий. Оборудование нередко выходит из строя.
                        На этот случай есть мастера, готовые устранить проблему за короткий срок.
                        Заполните заявку и ждите звонка от администратора. </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <ul class="list-unstyled">
                        <li><a href="/typograf_base_war/admin" class="text-white">Администратор</a></li>
                        <li><a href="/typograf_base_war/engineer" class="text-white">Инженер</a></li>
                        <li><a href="/typograf_base_war/logout" class="text-white">Выход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row row-cols-2">
        <div class="col-2"> a</div>
        <div class="col-2">b</div>
        <div class="col-2">c</div>
        <div class="col-2">d</div>
        <div class="col-2">f</div>
        <div class="col-2">j</div>
    </div>
</div>
</body>
</html>